:root {
    --primary: #764B8E;
    --secondary: #3E1256;
    --black: black;
    --background: white;
}
/* in code -> var(--color__) */

/*
  ========================================
  General Styles
  ========================================
*/

body {
    width: 100%;     /* 100% of the browser size */
    margin: auto;
    font-family: Verdana;
    /* background: black; */
    height: 100vh;
}

h1 {
    /* color: #3E1256; */
    color: white;
    margin: 0;
    padding: 0;
    /* font-size: 5em; */
}

.centered {
    text-align: center;
}

.header {
    margin: 0;
}


/*
  ========================================
  Header
  ========================================
*/

.header {
    border-radius: 0;
}

/* ----- Header Logo ----- */
.header_logo {
    float: left;
    width: 20%;
    /* border: 1px solid #3E1256; */
    background-color: #3E1256; 

}

/* ----- Utility Bar ----- */
.utility_bar {
    float: right;
    width: 20%;
}

/*
  ========================================
  Solution Navigator
  ========================================
*/

.solution_nav {
    /* background-color: #ccc; */
    /* color: white; */
    padding: 0;
    background-color: #ddd;
}
    .solution_tabs {
        border-style: solid;
        border-color: #ddd;
        border-width: 0 1.5px 1px 0;
    }
    .solution_tabs>li {
        background-color: #eee;
    }

    /* All li's immediately after an li */
    .solution_tabs>li+li {
        margin: 0;
    }

    .solution_tabs>li>a {
        /* background-color: var(--primary); */
        padding: 15px 20px;
        transition: 0.3s;
        text-align: center;
        color: #666;
        border-right: none;
    }

    .solution_tabs>li>a:hover {
        /* background-color: var(--secondary); */
        /* color: white; */
        border-radius: 20px 0 0 20px;
        background-color: #ddd;
    }

.solution_tabs>li.active>a,
.solution_tabs>li.active>a:focus {
    border-color: #ccc transparent #ccc #ccc;
    border-radius: 20px 0 0 20px;
    font-weight: bold;
    width: 101%;
}

.solution_tabs>li>a {
    margin-right: 0;
    border-radius: 0;
}


/*
  ========================================
  Solution Content
  ========================================
*/

/* ----- Solution Content (main) ----- */
    .solution_content {
        overflow-y: auto;
        height: 92.8vh; 
    }

    /* ----- Solution Content Bar ----- */
    .solution_content_bar {
        margin: 0;
    }

        /* ----- Version Bar ----- */
        .version_bar {
            width: 80%;
            height: 25px;
            border: 3px solid #582A72;
            border-radius: 20px;
            background-color: #ccc;
            float: left;

        }

        /* ----- Edit Button ----- */
        .edit_button {
            width: 15%;
            float: right;
            text-align: center;
        }

        
    /* Figure */
    .solution figure {
        width: 600px;
        border: 3px solid red;
        padding: 5px;
    }


/* article {
    width: inherit;
} */

/*
  ========================================
  Feedback
  ========================================
*/

.feedback_section {
    background-color: #eee;
    border-left: 1px solid #ddd;
}

/*
  ========================================
  Messaging
  ========================================
*/




/*
  ========================================
  Footer
  ========================================
*/

.footer {
    display: none;
}



/*
  ========================================
  Clearfix
  ========================================
*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*
  ========================================
  Colours
  ========================================
*/
#colorscheme {
    color: black;
    color: #3E1256;
    color: #764B8E;
    color: #9774AB;
    color: white;
}
