:root {
    --primary: #764B8E;
    --secondary: #3E1256;
    --black: black;
    --background: white;
}
/* in code -> var(--color__) */

/*
  ========================================
  General Styles
  ========================================
*/

body {
    width: 100%;     /* 100% of the browser size */
    margin: auto;
    font-family: Verdana;
    /* background: black; */
    height: 100vh; 
}

h1 {
    /* color: #3E1256; */
    color: white;
    margin: 0;
    padding: 0;
    /* font-size: 5em; */
}

.centered {
    text-align: center;
}

.scrollable {
    overflow-y: auto;
}

.header {
    margin: 0;
}

body,
html,
.container-fluid {
    /* height: 100%; */
}

.container-fluid {
     /* overflow-y: hidden;  */
     height: 100%;
}

body {
    height: 100%;
}

html {
    /* height: 100%; */
}

.top-row {
    height: 10vh;
}

.main-row {
    height: 90vh;
    /* border: 2px solid red; */
}

/*
  ========================================
  Header
  ========================================
*/

.header {
    border-radius: 0;
    height: 100%;
}

/* ----- Header Logo ----- */
.header_logo {
    float: left;
    width: 20%;
    /* border: 1px solid #3E1256; */
    background-color: #3E1256; 

}

/* ----- Utility Bar ----- */
.utility_bar {
    float: right;
    width: 20%;
}

/*
  ========================================
  Solution Navigator
  ========================================
*/

.solution_nav {
    /* background-color: #ccc; */
    /* color: white; */
    padding: 0;
    background-color: #ddd;
    height: 100%;
}
    .solution_tabs {
        border-style: solid;
        border-color: #ddd;
        border-width: 0 1.5px 1px 0;
    }
    .solution_tabs>li {
        background-color: #eee;
    }

    /* All li's immediately after an li */
    .solution_tabs>li+li {
        margin: 0;
    }

    .solution_tabs>li>a {
        /* background-color: var(--primary); */
        padding: 15px 20px;
        transition: 0.3s;
        text-align: center;
        color: #666;
        border-right: none;
    }

    .solution_tabs>li>a:hover {
        /* background-color: var(--secondary); */
        /* color: white; */
        border-radius: 20px 0 0 20px;
        background-color: #ddd;
    }

.solution_tabs>li.active>a,
.solution_tabs>li.active>a:focus {
    border-color: #ccc transparent #ccc #ccc;
    border-radius: 20px 0 0 20px;
    font-weight: bold;
    width: 101%;
}

.solution_tabs>li>a {
    margin-right: 0;
    border-radius: 0;
}


/*
  ========================================
  Solution Content
  ========================================
*/

/* ----- Solution Content (main) ----- */
    .solution_content {
        height: 100%;
        padding-top: 20px; 
    }

    /* ----- Solution Content Bar ----- */
    .solution_content_bar {
        margin: 0;
    }

        /* ----- Version Bar ----- */
        .version_bar {
            width: 80%;
            height: 25px;
            border: 3px solid #582A72;
            border-radius: 20px;
            background-color: #ccc;
            float: left;

        }

        /* ----- Edit Button ----- */
        .edit_button {
            width: 15%;
            float: right;
            text-align: center;
        }

        
    /* Figure */
    .solution figure {
        width: 600px;
        border: 3px solid red;
        padding: 5px;
    }


/* article {
    width: inherit;
} */

/*
  ========================================
  Feedback
  ========================================
*/

.feedback_section {
    background-color: #eee;
    border-left: 1px solid #ddd;
    height: 100%; 
    padding: 0px 5px 45px 5px;
}

/* ----- Comments ----- */
    .feedback_section .comments {
        /* margin-bottom: 50px; */
        height: 100%;
        border-bottom: 1px solid #ddd;
    }

    .feedback_section .media {
        border-bottom: 1px solid #aaa;
        margin: 5px 0;
        padding: 10px 10px;
    }

    .media-heading {
        font-weight: bold;
    }

/* ----- Comment Bar ----- */
    .feedback_section .row {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .feedback_section .form-row {
        position: absolute;
        bottom: 0;
        /* border-top: 1px solid #ddd; */
    }

    .feedback_section .form-row,
    .feedback_section .form-group {
        padding: 0;
    }

        .feedback_section .form-row .col-md-8,
        .feedback_section .form-row .col-md-4 {
            margin-bottom: 5px;
        }

        .feedback_section .form-row .col-md-4 {
            padding-left: 3px;
        }


/*
  ========================================
  Messaging
  ========================================
*/



/*
  ========================================
  Clearfix
  ========================================
*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*
  ========================================
  Colours
  ========================================
*/
#colorscheme {
    color: black;
    color: #3E1256;
    color: #764B8E;
    color: #9774AB;
    color: white;
}
