body {
    width: 100%;     /* 100% of the browser size */
    margin: auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.solution_nav,
.solution_content,
.feedback_section {
    float: left;
    border-radius: 20px;
}

.header,
.content_container,
.footer {
    margin: 0 0 20px 0;
}


.header, 
.footer {
    background-color: grey;
    color: white;
    padding: 15px;
    /* clear: left; */
}

nav.utility_bar {
    /* float: right; */
}

/* .header_logo,
.utility_bar {
    float: left;
} */

/* .header_logo {
    clear: left;
}

.utility_bar {
    clear: right;
} */



.solution_nav,
.feedback_section {
    width: 20%;
    
}

.solution_content {
    max-width: 60%;
    background-color: #9774AB;
    border-radius: 20px;
    margin: 0px; 
    padding: 20px;
    box-sizing: border-box;
}

.solution_nav {
    background-color: #9774AB;
    color: white;
}

.feedback_section {
    background-color: #3E1256;
    color: white;
}

.header {
    width: 100%;
}


/* 
 .utility_bar,
.header_logo {
        float: right;    
}

nav.utility_bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 3px dotted black;
    background-color: #3E1256;
}

nav.utility_bar li {
    float: left;
    border: 2px solid yellow;
    margin: 10px;
    padding: 20px;
     background-color: #9774AB; 
}

nav.utility_bar a {
    display: block;
    padding: 20px;
    color: white;
     text-decoration: none; 
     text-align: left; don't know if I need this yet 
}  */

body {
    font-family: Verdana;
}

h1 {
    color: #3E1256;
}
nav.solution_nav ul {
    background-color: #582A72;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200px;
    border: 1px solid #9774AB;
    /* overflow: hidden;  prevents  li elements from going outside the list*/
}
nav.solution_nav ul li {
    border-bottom: 1px solid #764B8E;
    padding: 5px;
}
nav.solution_nav ul li a {
    color: white;
    text-decoration: none; /* This removes the underline */ 
}
nav.solution_nav ul li a:hover {
    /* Makes the link underlined when mouse hovers over */
    text-decoration: underline;
}

.solution figure {
    width: 600px;
    border: 3px solid red;
    padding: 5px;
}

/* Notes:

extra attributes (?)
    background-color: green;
    width: 100px;
    height: 300px;
    border: 5px solid brown;


The structure of CSS:

selector {
    property_name: property:value;
}

article header p {
    background-color: red;
    color: white;
}

*/