.solution {
    /* This section is also called article, with an article tag */
    width: 800px;
}

.main-container {
    /* 100% of the browser size */
    width: 100%;
    margin: auto;
}

.site-menu,
.main-content,
.sidebar {
    float: left;
    border-radius: 20px;

}

.site-menu,
.sidebar {
    width: 20%;
    
}

.main-content {
    max-width: 60%;
    background-color: #9774AB;
    border-radius: 20px;
    margin: 0px; 
    padding: 20px;
    box-sizing: border-box;
}

.site-menu {
    background-color: #9774AB;
    border-color: white;
}

.sidebar {
    background-color: #3E1256;
    color: white;
}

body {
    font-family: Verdana;
}

h1 {
    color: #3E1256;
}
nav ul {
    background-color: #582A72;
    list-style: none;
    padding: 0;
    width: 200px;
    border: 1px solid #9774AB;
}
nav ul li {
    border-bottom: 1px solid #764B8E;
    padding: 5px;
}
nav ul li a {
    color: white;
     text-decoration: none; /* This removes the underline */ 
}
nav ul li a:hover {
    /* Makes the link underlined when mouse hovers over */
    text-decoration: underline;
}

.solution figure {
    width: 600px;
    border: 3px solid red;
    padding: 5px;
}

/* Notes:

extra attributes (?)
    background-color: green;
    width: 100px;
    height: 300px;
    border: 5px solid brown;


The structure of CSS:

selector {
    property_name: property:value;
}

article header p {
    background-color: red;
    color: white;
}

*/