.solution {
    /* This section is also called article, with an article tag */
    width: 800px;
}

body {
    font-family: Verdana;
}

h1 {
    color: goldenrod;
}

.solution figure {
    width: 600px;
    border: 3px solid red;
    padding: 5px;
}

/* Notes:

extra attributes (?)
    background-color: green;
    width: 100px;
    height: 300px;
    border: 5px solid brown;


The structure of CSS:

selector {
    property_name: property:value;
}

article header p {
    background-color: red;
    color: white;
}

*/